<div class="container">
    <form class="datos__Institucion">
        <h3 class="tittle" >Información de la Institución</h3>

        <mat-form-field class="example-full-width" appearance="outline" >
          <mat-label>Institución</mat-label>
          <input  type="text" matInput required placeholder="UTA" >
        </mat-form-field>
    
        <mat-form-field class="example-full-width" appearance="outline" >
          <mat-label>Ciudad o Municipio</mat-label>
          <input  type="text" matInput required placeholder="Ambato" >
        </mat-form-field>
    
        <mat-form-field class="example-full-width" appearance="outline" >
          <mat-label>País</mat-label>
          <input  type="text" matInput required placeholder="Ecuador" >
        </mat-form-field>
    
        <mat-form-field class="example-full-width" appearance="outline" >
          <mat-label>Correo Electronico</mat-label>
          <input  type="text" matInput required placeholder="m@gmail.com" >
        </mat-form-field>
      
      </form>
    
      <form class="datos__Sistema">
        <h3 class="tittle" >Información del Sistema</h3>

        <p>Usted puede cambiar las contraseñas y personalizarlas de acuerdo a sus necesidades</p>
    
        <p>Contraseña para salir del sistema</p>
        <mat-form-field class="example-full-width" appearance="outline" >
          <input  type="text" matInput required value="xxxxx" >
        </mat-form-field>
    
        <p>Contraseña para configuración del sistema</p>
        <mat-form-field class="example-full-width" appearance="outline" >
          <input  type="text" matInput required value="xxxxxxx">
        </mat-form-field>
    
        <p>Contraseña para urna y resultados</p>
        <mat-form-field class="example-full-width" appearance="outline" >
          <input  type="text" matInput  required value="xxxxxxxxx" >
        </mat-form-field>  
      </form>

</div>

<div class="add">
    <h2>Información Adicional</h2>
    <div class="container2" >
        <div class="add__information">
            <p>Imprimir certificado electoral despues de la votación?</p>
        </div>
        <div class="add__information">
            <p>Campo verifcador para comprobar el voto virtual</p>
        </div>
        <div class="add__information">
            <p>Tiempo de espera en segundos por cada votación</p>
        </div>
        <div class="add__information">
            <p>Elija el gráfico para marcar el voto</p>
        </div>

    </div>

</div>